NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBkpeeEl0BdWnlpya3ACLo1QWsP4ooBMeA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=chai-bun-token.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=chai-bun-token
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=chai-bun-token.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1068140797456
NEXT_PUBLIC_FIREBASE_APP_ID=1:1068140797456:web:b1e2f8489e64bc971ff495
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-M8ETPQPT29
NEXT_PUBLIC_FIREBASE_API_KEY=your-api-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your-project-id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your-project.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your-sender-id
NEXT_PUBLIC_FIREBASE_APP_ID=your-app-id

